@use "variables" as *;

body {
    min-height: 100vh;
}

.wrapper {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.new-line {
    display: block;
}

.upper-case {
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

address {
    // removes default italic style
    font-style: normal;
}


*:focus {
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    padding: 0.4em;
    &:hover {
        cursor: pointer;
    }
}

// links, buttons and links that look like buttons
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    &:hover {
        cursor: pointer;
    }
    &.simple-link {
        transition: all 0.3s linear;
        &:hover,
        &:focus {
            color: $primary-ac;
        }
    }
    &.button,
    &.round-button {
        background-color: $primary-ac;
        transition: all 0.3s linear;
        &:hover,
        &:focus {
            background-color: $primary-fc;
            color: $primary-ac;
        }
    }
    &.button {
        padding: 0.55em 0.75em;
        font-family: $heading-ff;
        line-height: 3.2rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
    }
}