@use "variables" as *;

.contact-form {
    background-color: $secondary-bgc;
    box-shadow: -1.5em 1.5em 0 0 $secondary-ac;
    position: relative;
    top: -25vh;
    padding: 2em;
    flex-grow: 1;
    @media (max-width: 1200px) {
            position: static;
        }
    form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 80vw;
    .user-details {
        display: flex;
        padding: 0;
        margin: 0;
        border: none;
        gap: 1em;
        @media (max-width: 800px) {
            flex-direction: column;
        }
        input {
            padding: 0.5em 1em 0.5em;
            border: none;
            background-color: $secondary-bgc;
            border: none;
            border-bottom: 3px solid $primary-ac;
            max-width: 80vh;
        }
    }
    textarea {
        resize: none;
        border: 3px solid $primary-ac;
        padding: 1em;
    }
    button {
        background-color: $primary-ac;
        padding: 0.55em 0.75em;
        font-family: $heading-ff;
        line-height: 3.2rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
        transition: 0.3s;
        &:hover,
        &:focus {
            background-color: $primary-fc;
            color: $primary-ac;
            outline: none;
        }
    }
    }
}