@use "variables" as *;

// about section
.about {
    background-color: $primary-bgc;
    padding: $section-padding;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
        // Required to get heading to display on top of header img at smaller screen sizes
        position: relative;
        z-index: 1;
    }
}

// services section
.services {
    background-color: $secondary-bgc;
    padding: $section-padding;
    display: flex;
    justify-content: center;
    gap: 6em;
    .gear,
    .skills {
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
    }
    .gear {
        flex-direction: column;
        .gear-text {
            align-self: flex-end;
            max-width: min(90vw, (1200px - 4em) / 2);
            :nth-child(odd) {
                text-align: right;
            }
            padding-left: 1em;
        }
        .gear-img {
            box-shadow: 1.5em 1.5em 0 0 $secondary-ac;
            position: relative;
            top: -100px;
        }
    }
    .skills {
        flex-direction: column-reverse;
        .skills-text {
            max-width: min(90vw, (1200px - 4em) / 2) ;
            padding-right: 1em;
        }
        .skills-img {
            box-shadow: -1.5em 1.5em 0 0 $secondary-ac;
            position: relative;
            bottom: -100px;
        }
    }
    @media (max-width: 800px) {
            flex-direction: column;
            gap: 1em;
            .gear,
            .skills {
                flex-direction: column;
                gap: 2em;
                .gear-img,
                .skills-img {
                    position: static;
                    width: max(50%, 300px);
                }
                .gear-text,
                .skills-text {
                    max-width: 100%;
                    padding: 0 10vw 0;
                }
            }
    }
    @media (max-width: 500px) {
        .gear,
        .skills {
            .gear-text,
            .skills-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                & > * {
                    text-align: center;
                }
                :nth-child(odd) {
                text-align: center;
                }
            }
        }
    }
}

// details section
.details {
    background-color: $primary-bgc;
    padding: $section-padding;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 800px) {
            flex-direction: column;    
            flex-wrap: nowrap;     
        }
        .item {
            flex-basis: 50%;
            display: flex;
            gap: 1em;
        }
    }
    .icon a {
        width: 4rem;
        border-radius: 50%;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-img {
        height: 50vh;
        background-image: url(../../assets/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// profile section
.profile {
    background-color: $primary-bgc;
    padding: $section-padding;
    .wrapper {
        display: flex;
        align-items: flex-start;
        gap: 3em;
        .profile-img {
            flex: 1 0 25%;
            img {
                box-shadow: 1.5em 1.5em 0 0 $secondary-ac;
            }
        }
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            .profile-text {
                text-align: center;
            }
        }
        @media (max-width: 500px) {
            .profile-img {
                img {
                    box-shadow: 0.8em 0.8em 0 0 $secondary-ac;
                }
            }
        }
    }
}

// gallery section
.gallery {
    padding: $section-padding;
    background-color: $secondary-bgc;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        @media (max-width: 1000px) {
            flex-wrap: wrap;
        }
    }
}

// contact-page
main.contact-main {
    background-color: $primary-bgc;
    min-height: 45vh;
    padding: $section-padding;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4em;
        @media (max-width: 1200px) {
            flex-direction: column-reverse;            
        }
    }
}

.contact-details {
    .social {
        display: flex;
        gap: 1em;
        padding-bottom: 1em;
    }
    address * {
        line-height: 3.2rem;
        // to get all street address text to remain on same line 
        width: max-content;
    }
    .email-address {
        font-family: $heading-ff;
        font-size: 2.6rem;
        text-transform: uppercase;
        letter-spacing: 0.11rem;
        padding-bottom: 1em;
    }
}

// blog page
main.blog-main {
        background-color: $primary-bgc;
        @media (max-width: 1000px) {
            display: flex;
            justify-content: center;
        }
            .comments-section .comment {
                display: flex;
                gap: 1em;
                padding: 2em 0;
                .visitor-img {
                    flex-shrink: 0;
                    // Actual image size is really small resulting in pixelated look when flex-direction for parent changes to column.
                    @media (max-width: 500px) {
                    display: none;
                    }
                }
                p {
                    margin-top: 0;
                }
            }
    }

.blog-container {
    padding: $section-padding;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    @media (max-width: 1000px) {
        flex-direction: column-reverse;
        width: 90%;
        align-items: center;
    }
    aside,
    .major-blog-unit {
        display: flex;
        flex-direction: column;
        // creates some space on the screen edges when when switching flex-direction
        max-width: 90%;
    }
    aside {
        padding: $section-padding;
        .aside-text {
            background-color: $secondary-bgc;
            align-self: flex-end;
            max-width: min(90vw, (1200px - 3em) / 3);
            padding-left: 1em;
            @media (max-width: 1000px) {
                align-self: center;
            }
            .about-snippet{
                max-width: max-content;
                h3 {
                    width: max-content;
                }
                .minor-link {
                    font-style: italic;
                    font-weight: 800;
                }
            }
            .recent-posts {
                margin-top: 3em;
            }
            ul li {
                line-height: 3.2rem;
                &::before {
                content: "- ";
                color: $primary-ac;
                }
            }
        }
        .aside-img {
            box-shadow: 1.5em 1.5em 0 0 $secondary-ac;
            position: relative;
            top: -100px;
        }
    }
    .major-blog-unit {
        .blog-text {
            max-width: min(90vw, (1200px - 4em) * 0.6666) ;
            padding-right: 1em;
        }
        .blog-img {
            box-shadow: -1.5em 1.5em 0 0 $secondary-ac;
            position: relative;
            top: -150px;
        }
    }
}