@use "variables" as *;

// details section

.details {
    background-color: $primary-bgc;
    background-image: url(../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: right 0px bottom 0px;
    background-size: 100% 40%;
    padding-bottom: 500px;
}

// gallery section

.gallery {
    padding: $section-padding;
    background-color: $secondary-bgc;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        @media (max-width: 1000px) {
            flex-wrap: wrap;
        }
    }
}
