@use "variables" as *;

html {
//   setting default text size to 10px. 1 rem = 10px
  font-size: 62.5%;
}

body {
  font-family: $body-ff;
  font-size: 2rem;
  color: $primary-fc;
}

h1, h2, h3, h4 {
  font-family: $heading-ff;
  text-transform: uppercase;
  margin: 0;
}

h1 {
    // adding the rem value to the vw value is needed to make the fs responsive to zooming in/out on the browser 
  font-size: clamp(5rem, 12vw + 1rem, 13.8rem);
}

h2 {
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
}

h3, h4{
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

p {
  line-height: 3.2rem;
}