// site colors (variable name ends with 'c')
$primary-fc: #2c2c2c;
$secondary-fc: #fafafa; 
$primary-ac: #4ceea7;
$secondary-ac: #fdfa69;
$primary-bgc: #effdf3;
$secondary-bgc: #fafafa; 
// site font families (variable name ends with 'ff')
$heading-ff: "Playfair Display", serif;
$body-ff: "Roboto", sans-serif;
// padding
$section-padding: 4em 0 4em;